extends layout 

block content 
    form(method="post")
        input(type="hidden", name="user" value=user)
        label(for="secret") Enter Secret 
        input(name="secret" type="text" required)
        label(for='admin') Admin?
        input(name='admin' type="checkbox")
        button(type="submit")  Submit
    if error 
        for errors in error 
            p= errors.msg