extends layout 

block content 

h1 Login
form(method="post")
    label(for="username") 
    input(name="username" type="text" required)
    label(for="password") 
    input(name="password" type="text" required)
    button(type="submit") Submit
